---
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <main>
    <h2>Congratulations!</h2>
    <p>
      Installation was successful. <br />
      Accelerate your development with <b>Accella</b>!
    </p>
    <img src="/image.jpg" alt="logo" width="500px" />
    <p>This page displays the content of <i>src/pages/index.astro</i></p>
  </main>
</Layout>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #000;
  }

  main {
    color: #fff;
    background: linear-gradient(38deg, #0f0a14 0%, #2a2630 100%);
    padding: 20px;
    border-radius: 10px;
  }
</style>
