<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Accella</title>
  </head>
  <body>
    <h1>Accella</h1>
    <div>Installation was successful.</div>
    <div>This page displays the content of <i>src/pages/index.astro</i>.</div>
  </body>
</html>
