---
import { Todo } from "src/models";
import Layout from "../layouts/Layout.astro";
import { paginate, searchFormFor } from "accel-web";

const { currentAccount, params } = Astro.locals.helper;
const searchParams = params.permit("q", "p");

const page = Number(searchParams.p || 1);

const q = Todo.where({ account: currentAccount }).search(searchParams.q);

const pager = paginate(q.result().order("id", "desc"), {
  page,
  per: 10,
  window: 2,
});
const { LinkToNextPage, LinkToPrevPage, Nav, PageEntriesInfo } = pager;
const f = searchFormFor(q);
---

<Layout title="Welcome to Astro.">
  <main class="container" style="max-width: 700px;">
    <h1 class="text-center">All TODOs</h1>
    <form method="get" class="row">
      <div class="col mb-3">
        <f.NumberField attr="id_eq" placeholder="Search by ID" class="form-control" />
      </div>
      <div class="col mb-3">
        <f.TextField attr="title_cont" placeholder="Search by Title" class="form-control" />
      </div>
      <div class="col-md-auto mb-3">
        <button type="submit" class="btn btn-dark">検索</button>
      </div>
    </form>
    <a href="/todos/new" class="btn btn-link">Add a new todo</a>
    <nav>
      <ul class="pagination">
        {page > 1 && <LinkToPrevPage />}
        <LinkToNextPage />
      </ul>
    </nav>
    <ul>
      {
        pager.records.map((todo) => (
          <li>
            <span>{todo.id}</span>
            <span>{todo.title}</span>
            {todo.estimate ? <span>｜{todo.estimate}</span> : null}
            {todo.dueDate ? <span>{todo.dueDate.toISOString().slice(0, 10)}迄</span> : null}
            <span>({todo.status})</span>
          </li>
        ))
      }
    </ul>
    <div class="d-flex justify-content-center">
      <Nav />
    </div>
    <div class="d-flex justify-content-center">
      <PageEntriesInfo />
    </div>
  </main>
</Layout>
