---
import { paginate, SortLink } from "accel-web";
import { Account } from "src/models";
import Layout from "../layouts/Layout.astro";

const { params } = Astro.locals;

const page = Number(params.p) || 1;
const q = Account.search(Object.assign({ s: "id desc" }, params.q));

const pager = paginate(q.result(), {
  page,
  per: 10,
  window: 2,
});
const { LinkToNextPage, LinkToPrevPage, Nav, PageEntriesInfo } = pager;
---

<Layout title="All Accounts">
  <main class="container" style="max-width: 700px; min-width: 550px;">
    <h1 class="text-center">All Accounts</h1>
    <div class="d-flex justify-content-between">
      <nav>
        <ul class="pagination">
          {page > 1 && <LinkToPrevPage />}
          <LinkToNextPage />
        </ul>
      </nav>
      <a href="/signup" class="btn btn-link">Add New Account</a>
    </div>
    <div class="d-flex flex-column gap-2 mb-3" style="padding: 20px">
      <div class="d-flex gap-3">
        <SortLink q={q} key="id" />
        <SortLink q={q} key="email" />
      </div>
      {
        pager.records.map((account) => (
          <div class="d-flex gap-3">
            <div>{account.id}</div>
            <div>{account.email}</div>
          </div>
        ))
      }
    </div>
    <div class="d-flex justify-content-center">
      <Nav />
    </div>
    <div class="d-flex justify-content-center">
      <PageEntriesInfo />
    </div>
  </main>
</Layout>
