---
import { formFor } from "accel-web";

const { session, params } = Astro.locals;
const { account } = session;

if (Astro.request.method === "POST") {
  if (account && params.avatar instanceof File) {
    account.avatar = params.avatar;
    account.save();
    return Astro.redirect("/profile");
  }
}
const f = formFor(account);
---

<f.Form method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
  <f.Submit>Save</f.Submit>
</f.Form>

<h1>Uploaded Image</h1>
<img
  src=`https://kydev.s3.ap-northeast-1.amazonaws.com/sync-test.png?t=${Date.now()}`
  width="200"
/>
