---
import { Model } from "accel-record";
import { formWith } from "accel-web";
import Layout from "../layouts/Layout.astro";
import { Account } from "../models";
import { Helper } from "src/core/helper";

const { params, logIn, currentAccount } = Astro.locals.helper ?? (await Helper.init(Astro));

if (currentAccount) return Astro.redirect("/");

class SignIn extends Model {
  email: string = "";
  password: string = "";
}

const signin = new SignIn();
const messages: string[] = [];

if (Astro.request.method === "POST") {
  const { email, password } = params.permit("email", "password");
  signin.email = email as string;

  const account = Account.findBy({ email: email as string });
  if (account?.authenticate(password as string)) {
    logIn(account);
    return Astro.redirect("/");
  } else {
    messages.push("メールアドレスまたはパスワードが違います");
  }
}

const { Form, Submit, Label, TextField, PasswordField } = formWith(signin);
---

<Layout title="ログイン">
  <main class="grid-container" style="max-width: 700px; min-width: 400px;">
    <h1>ログイン</h1>
    <Form method="post" class="grid-x grid-margin-x">
      {
        messages.length > 0 && (
          <div class="cell small-12 callout alert error-messages">
            {messages.map((message) => (
              <div>{message}</div>
            ))}
          </div>
        )
      }
      <div class="cell small-12">
        <Label for="email" />
        <TextField attr="email" />
      </div>
      <div class="cell small-12">
        <Label for="password" />
        <PasswordField attr="password" />
      </div>
      <div class="cell small-6">
        <Submit class="button">ログイン</Submit>
      </div>
      <div class="cell small-6 text-right">
        <a href="/signup" class="clear button">新規登録へ</a>
      </div>
    </Form>
  </main>
</Layout>

<style>
  .error-messages {
    background: rgb(235, 102, 102);
    color: white;
    font-weight: bold;
  }
</style>
