---
import { formWith } from "accel-web";
import Layout from "../layouts/Layout.astro";
import { Account } from "../models";

const account = Account.build({});
const { params } = Astro.locals.helper;

if (Astro.request.method === "POST") {
  const p = params.permit("email", "password", "passwordConfirmation");
  if (account.update(p)) {
    return Astro.redirect("/");
  }
}
const { Form, Submit, Label, TextField, PasswordField } = formWith(account);
---

<Layout title="新規登録">
  <main class="grid-container" style="max-width: 700px; min-width: 400px;">
    <h1>新規登録</h1>
    <Form method="post" class="grid-x grid-margin-x">
      {
        account.errors.fullMessages.length > 0 && (
          <div class="cell small-12 callout alert error-messages">
            {account.errors.fullMessages.map((message) => (
              <div>{message}</div>
            ))}
          </div>
        )
      }
      <div class="cell small-12">
        <Label for="email">Eメール</Label>
        <TextField attr="email" />
      </div>
      <div class="cell small-12">
        <Label for="password" />
        <PasswordField attr="password" />
      </div>
      <div class="cell small-12">
        <Label for="passwordConfirmation" />
        <PasswordField attr="passwordConfirmation" />
      </div>
      <div class="cell small-6">
        <Submit class="button">登録</Submit>
      </div>
      <div class="cell small-6 text-right">
        <a href="/signin" class="clear button">ログインへ</a>
      </div>
    </Form>
  </main>
</Layout>

<style>
  .error-messages {
    background: rgb(235, 102, 102);
    color: white;
    font-weight: bold;
  }
</style>
