---
import { formWith } from "accel-web";
import Layout from "src/layouts/Layout.astro";
import { Todo } from "src/models";

const { params, currentAccount } = Astro.locals.helper;

const todo = Todo.build({ account: currentAccount });
if (Astro.request.method === "POST") {
  if (todo.update(params.permit("title"))) {
    return Astro.redirect("/");
  }
}
const { Form, Label, TextField, Submit } = formWith(todo);
---

<Layout title="Add a new todo">
  <Form method="post">
    <div class="error-messages">
      {todo.errors.fullMessages.map((message) => <div>{message}</div>)}
    </div>
    <Label for="title" />
    <TextField attr="title" />
    <Submit>作成</Submit>
  </Form>
</Layout>
