---
import { formWith } from "accel-web";
import Layout from "src/layouts/Layout.astro";
import { Todo } from "src/models";

const { params, currentAccount } = Astro.locals.helper;

const todo = Todo.build({ account: currentAccount });
if (Astro.request.method === "POST") {
  if (todo.update(params.permit("title", "estimate"))) {
    return Astro.redirect("/");
  }
}
const f = formWith(todo);
const { Form, Label, TextField, Submit } = f;
---

<Layout title="Add a new todo">
  <main>
    <h1>Create a new TODO</h1>
    <Form method="post">
      <div class="error-messages">
        {todo.errors.fullMessages.map((message) => <div>{message}</div>)}
      </div>
      <div>
        <Label for="title" />
        <TextField attr="title" />
      </div>
      <div>
        <Label for="estimate" />
        <f.NumberField attr="estimate" />
      </div>
      <Submit>作成</Submit>
    </Form>
  </main>
</Layout>
